/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
@layer base {
  html {
    font-family: "Urbanist", system-ui, sans-serif;
  }
}

@layer base {
  :root {
    --text-50: #FEE6EF;
    --text-100: #FDCEDF;
    --text-200: #FC9CBF;
    --text-300: #FA6B9F;
    --text-400: #F9397F;
    --text-500: #F70860;
    --text-600: #C6064C;
    --text-700: #940539;
    --text-800: #630326;
    --text-900: #310213;
    --text-950: #19010A;

    --background-50: #FFE5F0;
    --background-100: #FFCCE0;
    --background-200: #FF99C2;
    --background-300: #FF66A3;
    --background-400: #FF3385;
    --background-500: #FF0066;
    --background-600: #CC0052;
    --background-700: #99003D;
    --background-800: #660029;
    --background-900: #330014;
    --background-950: #1A000A;

    --primary-50: #FEE6F0;
    --primary-100: #FECDE1;
    --primary-200: #FD9BC4;
    --primary-300: #FC69A6;
    --primary-400: #FB3789;
    --primary-500: #FA056B;
    --primary-600: #C80456;
    --primary-700: #960340;
    --primary-800: #64022B;
    --primary-900: #320115;
    --primary-950: #19010B;

    --secondary-50: #FEE8E6;
    --secondary-100: #FED2CD;
    --secondary-200: #FDA59B;
    --secondary-300: #FC7869;
    --secondary-400: #FB4B37;
    --secondary-500: #FA1E05;
    --secondary-600: #C81804;
    --secondary-700: #961203;
    --secondary-800: #640C02;
    --secondary-900: #320601;
    --secondary-950: #190301;

    --accent-50: #FEEEE6;
    --accent-100: #FEDDCD;
    --accent-200: #FDBC9B;
    --accent-300: #FC9A69;
    --accent-400: #FB7837;
    --accent-500: #FA5705;
    --accent-600: #C84504;
    --accent-700: #963403;
    --accent-800: #642302;
    --accent-900: #321101;
    --accent-950: #190901;

    --linearPrimarySecondary: linear-gradient(90deg, #FA0F71, #FC8173);
    --linearPrimaryAccent: linear-gradient(90deg, #FA0F71, #FB7F42);
    --linearSecondaryAccent: linear-gradient(90deg, #FC8173, #FB7F42);
    --radialPrimarySecondary: radial-gradient(#FA0F71, #FC8173);
    --radialPrimaryAccent: radial-gradient(#FA0F71, #FB7F42);
    --radialSecondaryAccent: radial-gradient(#FC8173, #FB7F42);
  }

  .dark {
    --text-50: #19010A;
    --text-100: #310214;
    --text-200: #630328;
    --text-300: #94053C;
    --text-400: #C60650;
    --text-500: #F70864;
    --text-600: #F93983;
    --text-700: #FA6BA2;
    --text-800: #FC9CC1;
    --text-900: #FDCEE0;
    --text-950: #FEE6EF;

    --background-50: #1A000A;
    --background-100: #330014;
    --background-200: #660029;
    --background-300: #99003D;
    --background-400: #CC0052;
    --background-500: #FF0066;
    --background-600: #FF3385;
    --background-700: #FF66A3;
    --background-800: #FF99C2;
    --background-900: #FFCCE0;
    --background-950: #FFE5F0;

    --primary-50: #19010B;
    --primary-100: #320115;
    --primary-200: #64022B;
    --primary-300: #960340;
    --primary-400: #C80456;
    --primary-500: #FA056B;
    --primary-600: #FB3789;
    --primary-700: #FC69A6;
    --primary-800: #FD9BC4;
    --primary-900: #FECDE1;
    --primary-950: #FEE6F0;

    --secondary-50: #190301;
    --secondary-100: #320601;
    --secondary-200: #640C02;
    --secondary-300: #961203;
    --secondary-400: #C81804;
    --secondary-500: #FA1E05;
    --secondary-600: #FB4B37;
    --secondary-700: #FC7869;
    --secondary-800: #FDA59B;
    --secondary-900: #FED2CD;
    --secondary-950: #FEE8E6;

    --accent-50: #190901;
    --accent-100: #321101;
    --accent-200: #642302;
    --accent-300: #963403;
    --accent-400: #C84504;
    --accent-500: #FA5705;
    --accent-600: #FB7837;
    --accent-700: #FC9A69;
    --accent-800: #FDBC9B;
    --accent-900: #FEDDCD;
    --accent-950: #FEEEE6;

  }
}
